
<div class="container-fluid ml-5 ">
    <div class="row">
        <div class="col">
            @ViewBag.ErrorMessage
        </div>

    </div>
    <div class="row">
        <div class="col-11">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Yeni Ekonomi Ekleme</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/Admin/Ekonomi/Add" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Haber Adı</label>
                            <input type="text" name="Name" class="form-control" id="txtEkonomiName" placeholder="Haber Adı">
                            <span style="color:red;">
                                @ViewBag.CategoryNameError
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Haber Açıklaması</label>
                            <textarea class="form-control" name="Description" rows="3" placeholder="Açıklama giriniz" style="height:156px"></textarea>
                            <span style="color:red;">
                                @ViewBag.DescriptionError
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Haber Resimi</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" name="Photo" class="custom-file-input" id="fuPhoto">
                                    <label class="custom-file-label" for="exampleInputFile">Haber Resimi Seçiniz</label>
                                    <span style="color:red;">
                                        @ViewBag.PhotoError
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
